*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #251F24;
}

.header{
    position: absolute;
    width: 1366px;
    height: 350px;
    left: 0px;
    top: 0px;
    background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
}

.conteiner{
    width: 90%;
    margin: auto;
}

.showcase{
    width: 636px;
    height: 174;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

a{
    color: #A5A3A5;
    text-decoration: none;
}

/*texto*/
h1{
    color: #ffffff;
    font-size: 64px;
    font-family: 'Nunito', sans-serif;
    width: 636px;
    height: 174px;
    margin-bottom: 16px;
}

h2{
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    margin-bottom: 40px;
    width: 636px;
    height: 55px;
}

.h2conceptos{
    height: 110px;
}

h3{
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 16px;
    width: 636px;
    height: 44px;
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 44px;
}

h4{
    color: #ffffff;
}

p{
    color: #A5A3A5;
    font-size: 17px;
    width: 636px;
    font-family: 'Roboto', sans-serif;
}

.textHeader{
    height: 72px;
}

.textSetup1{
    height: 48px;
}
.textSetup2{
    height: 96px;
}
.textSetup3{
    height: 72px;
}
.textSetup4{
    height: 96px;
}

.men1{
    width: 595;
    height: 32;
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 16px;
}
.men2{
    width: 206;
    height: 32;
    color: #ffffff;
    font-size: 24px;
}
.textHyper{
    margin-bottom: 16px;
    height: 48px;
}
.textcode{
    color: #ffffff;
    width: 511px;
    height: 288px;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    font-weight: 400;
}
.texteti1{
    height: 72px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 16px;
}
.texteti2{
    height: 120px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
}
.textdom{
    height: 96px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 16px;
}
.textsemantica{
    height: 192px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
}
.textatributos{
    height: 96px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
}
.textcss{
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 16px;
}
.textdivmodel{
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 16px;
}
.textpuntos{
    height: 96px;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
}
.textlista1{
    margin-left: 16px;
    height: 24px;
    color: #ffffff;
}
.textlista2{
    margin-left: 16px;
    height: 24px;
    color: #ffffff;
}
/*linea*/
hr{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 636px;
    color: #A5A3A5;
}
/*imagenes*/
.imgbig{
    width: 80px;
    height: 80px;
    margin-bottom: 16px;
}
.imgdom{
    width: 636px;
    height: 332.13px;
}
.imgcss{
    width: 636px;
    height: 302px;
}
.divslide img{
    width: 636px;
    height: 371px;
    margin-bottom: 16px;
}
.imgcircle1{
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 46%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
}
.imgcircle2{
    border-radius: 50%;
    background: rgba(66, 66, 66, 0.2);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
}
.imgcircle3{
    border-radius: 50%;
    background: rgba(66, 66, 66, 0.2);
    position: absolute;
    left: 54%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
}
/*cajas*/
div{
    width: 636px;
}

.divsetup{
    height: 1151px;
}
.divgoogle{
    height: 204px;
    margin-bottom: 40px;
}
.divvisual{
    height: 252px;
    margin-bottom: 40px;
}
.divfigma{
    height: 228px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.divgithub{
    height: 252px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.divMensaje{
    margin-top: 80px;
    background: #3A3539;
    height: 128px;
    position: relative;
}
.divsubmensaje{
    width: 595px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.divconceptos{
    margin-top: 63px;
    height: 2448.13px;
    margin-bottom: 122px;
}
.divhtml{
    margin-bottom: 40px;
}
.divcode{
    background: #3A3539;
    height: 368px;
    position: relative;
}
.divsubcode{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 511px;
    height: 288px;
}
.divetiquetas{
    margin-bottom: 40px;
}
.divdoom{
    margin-bottom: 40px;
}
.divsemantica{
    margin-bottom: 40px;
}
.divatributos{
    margin-bottom: 40px;
}

.divmodelo{
    margin-bottom: 51px;
}
.divmodel{
    margin-bottom: 40px;
    height: 209px;
}
.divfisicas{
    margin-bottom: 40px;
    height: 204px;
}
.divlogicas{
    margin-bottom: 40px;
    height: 276px;
}
.divimagen{
    margin-bottom: 40px;
    height: 452px;
}
.divcircle{
    height: 16px;
    position: relative;
}
